<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link   rel="stylesheet" th:href="@{/lib/bulma/css/bulma.min.css}" type="text/css" />
    <script type="text/javascript"  th:src="@{/lib/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/extend-library.js}"></script>
</head>
<body>

    <h1>Hello!</h1>
    <br/>
    <span th:text="${username}"></span>
    <span th:text="${realname}"></span>




</body>
</html>