<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link   rel="stylesheet" href="/lib/bulma/css/bulma.min.css" type="text/css" />
    <script type="text/javascript"  src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/extend-library.js"></script>



</head>
<body>


<section class="hero  is-medium is-primary is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="/images/logo.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="/Home/Index">
                            Home
                        </a>
                        <a class="navbar-item is-active">
                            Datas
                        </a>
                        <a class="navbar-item" href="/Report/List">
                            Reports
                        </a>
                        <span class="navbar-item">
<!--              <a class="button is-info is-inverted">-->
<!--                <span class="icon">-->
<!--                  <i class="fab fa-github"></i>-->
<!--                </span>-->
<!--                <span>Download</span>-->
<!--              </a>-->
            </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Input Datas
            </p>
            <br/>
            <p class="subtitle">
                <hr/>
                   <br/>
                <hr/>
            </p>
        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Finance Tool</strong>&nbsp;&nbsp;&nbsp;<a href="#">&copy; CopyRight 2019~2020</a>
            </p>
        </div>
    </footer>
</section>





</body>
</html>