<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link   rel="stylesheet" href="/lib/bulma/css/bulma.min.css" type="text/css" />
    <script type="text/javascript"  src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/extend-library.js"></script>

    <script type="text/javascript"  src="/js/view/index.js"></script>
</head>
<body>


<section class="hero  is-medium is-primary is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="/images/logo.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item" href="/Data/List">
                            Datas
                        </a>
                        <a class="navbar-item" href="/Report/List">
                            Reports
                        </a>
                        <span class="navbar-item">

            </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Quick Start
            </p>
            <br/>
            <p class="subtitle">
            <hr/>
            <div>
                <form>
                    <div class="columns">
                        <div class="column is-4">
                            <label>Please select year: &nbsp;</label>

                            <div class="select is-rounded">
                                <select id="year">

                                </select>
                            </div>
                        </div>

                        <div class="column is-4">
                            <label>Please select month:&nbsp;</label>
                            <div class="select is-rounded">
                                <select id="month">
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="column is-12">
                                <label for="btn_attach">Please upload your basic excel:</label>
                                <button style="margin-left:20px;" type="button" class="button is-warning" id="btn_attach" onclick="Upload()">Upload</button>
                                <input type="file" id="file_attach" style="display:none;">
                            </div>
                        </div>
                    </div>
                </form>
                <ul id="filelist">

                </ul>
            </div>
            <hr/>
            <br/>
            <progress id="progress"  style="display:none;" class="progress is-danger" max="100">30%</progress>
            </p>
        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Finance Tool</strong>&nbsp;&nbsp;&nbsp;<a href="#">&copy; CopyRight 2019~2020</a>
            </p>
        </div>
    </footer>
</section>





</body>
</html>