<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link   rel="stylesheet" href="/lib/bulma/css/bulma.min.css" type="text/css" />
    <link   rel="stylesheet" href="/lib/fontawesome/css/all.min.css" type="text/css" />
    <script type="text/javascript"  src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/extend-library.js"></script>

    <script type="text/javascript"  src="/js/view/index.js"></script>
</head>
<body>


<section class="hero  is-medium is-primary is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="/images/logo.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item" href="/Data/List">
                            Datas
                        </a>
                        <a class="navbar-item" href="/Report/List">
                            Reports
                        </a>
                        <span class="navbar-item">

            </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Quick Start
            </p>
            <br/>
            <p class="subtitle">
            <hr/>
            <div class="card">
                <form>
                    <div class="card-content">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="lable">Date :</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="select is-rounded" style="width:100%;">
                                        <select id="year" style="width:100%;">
                                        </select>
                                    </div>
                                </div>
                                <div class="field">

                                    <div class="select is-rounded" style="width:100%;">
                                        <select id="month" style="width:100%;">
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9">Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="lable">HeadCount :</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="number" placeholder="Staff Headcount" id="staff_headcount">
                                        <span class="icon is-small is-left">
                                          <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="number" placeholder="Secondee Headcount" id="secondee_headcount">
                                        <span class="icon is-small is-left">
                                          <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="lable">ExchangeRate : &nbsp;</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input class="input" type="number" placeholder="CNY to SGD" id="exchangerate">
                                            <span class="icon is-small is-left">
                                          <i class="fas fa-globe"></i>
                                        </span>
                                        </p>
                                    </div>

                                </div>
                            </div>


                        <div class="field">

                                <button style="margin-left:20px;" type="button" class="button is-warning" id="btn_attach" onclick="Upload()">Upload Your Excel</button>
                                <input type="file" id="file_attach" style="display:none;">

                        </div>
                    </div>
                </form>
                <ul id="filelist">

                </ul>
            </div>
            <br/>
            <progress id="progress"  style="display:none;" class="progress is-danger" max="100">30%</progress>
            </p>
        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Finance Tool</strong>&nbsp;&nbsp;&nbsp;<a href="#">&copy; CopyRight 2019~2020</a>
            </p>
        </div>
    </footer>
</section>





</body>
</html>