table
{
   margin:10px;
   width:1920px;
   font-size:12px;
}
    table th,td{

      border:1px solid black;
    }
.firstcol{
  width:260px;
  color:black;
  padding-left:5px;
}
.table-container{
     overflow: auto;
     width: 100%;
     overflow-x:scroll;
     padding-right:10px;
     background-color: lightskyblue;
}
.textcenter{
  text-align:center;
}
.textcenter th{
  text-align:center !important;
}

.separator{
 height:24px;
}

